img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


/* enable absolute positioning */
.inner-addon {
    position: relative;
}

.uploadButton {
  margin-top: .5em;
  margin-bottom: 1em;
}

.plantPicDisplay {
  margin-bottom: 2em;
}

.plantViewDetails {
font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    display: inline-block;
    /*float: right;*/
    padding-right: 2em;
}

.plantTitleDisplay {
  /*font: black;
  margin-top: -2em;*/
  padding-left: 2em;
font-family: 'Josefin Sans', sans-serif;
font-size: 18px;
  color: black;
  display: inline-block;
  /*float: left;*/

  /*padding-right: -10em;
  padding-top: 0.24em;
  padding-bottom: 2em;
  background: rgba(255,255,255, 0.6);*/
  /*background: rgb(2); /* Fall-back for browsers that don't support rgba */
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }


textarea {
  width: 15em;
  height: 15em;
}

#newPlantForm {
  margin-top: 1.5em;
}

#logoLogin {
  margin-top: 3em;
  color: white;
  position: absolute;
  text-align: center;
  padding-left: 1.6em;
  font-family: 'Zilla Slab', serif;
  font-size: 70px;
}

#loginText {
  margin-top: 1em;
  text-align: center;
}

.align-center {
  text-align: center;
  /*color: white;*/
}

.loginHeading {
  margin-bottom: -0.5em;
  font-size: 22px;
}

#loginButton {
  margin-top: 2em;
}

#passwordLogin {
  margin-top: -0.5em;
}

#regLink {
  color: white;
  /*display: inline-block;*/
  /*text-align: center;*/
}

.logoheader {
  height: 3em;
  color: black;
  background-color: #49AB7A;
}

.loginPage {
  background-color: #49AB7A;
  height: 100%;
  width: 100%;
}

.loginForm {
  margin-top: 34em;
}

.loginButtons {
  background-color: #d6d6d6;
}

#logo{
  color: white;
  position: absolute;
  display: inline-block;
  text-align: center;
  padding-left: 7.5em;
  margin-top: 0.35em;
  font-family: 'Zilla Slab', serif;
  font-size: 24px;
}

.btn {
  border-radius: 0;
}

.btn-sm {
  float: right;
  margin-top: .4em;
  margin-right: .4em;
  background-color: #49AB7A;
  color: white;
  border-color: #c1c1c1;
  border-radius: 5px;
}

.btn-primary {
  background-color: #c1c1c1;
  border: black;

}

.btn-primary:active {
  background-color: #7a7a7a;
}
.btn-primary:focus,
.btn-primary.focus{
  background-color: #7a7a7a;
  border-color: #a5a5a5;
}

.btn-primary:active:focus,
.btn-primary:active.focus {
  background-color: #7a7a7a;
  border-color: #a5a5a5;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #7a7a7a;
  border-color: #a5a5a5;
}

.btn-primary:focus,
.btn-primary.focus{
  background-color: #7a7a7a;
  border-color: #a5a5a5;
}

.container-fluid {
  padding: 0em;
}

/*editable form*/
/*.input {
  width: 250px;
}*/

div[ng-app] { margin: 10px; }
form[name="editableForm"] > div {
  height: auto;
  padding: 5px 0;
}

form[name="editableForm"] .title {
  display: inline-block;
  font-weight: bold;
  padding-top: 5px;
  /*margin-left: 2.5em;*/
  vertical-align: top;
  min-width: 90px;
}

form[name="editableForm"] .editable {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
  width: 250px;
}

form[name="editableForm"] select {
  width: 250px;
}

form[name="editableForm"] .input {
  /*padding-left: 0.5em;*/
}

form[name="editableForm"] button {
  margin-left: 2em;
}
