<!-- <div ng-include src="'views/partials/header.html'"></div> -->
<div class="container">
  <div>
    <form id='newPlantForm'>
<!-- Common Name -->
<div class="row">
  <div class="form-group col-xs-12">
    <label for='common_nameInput'>Common Name</label>
    <!-- <div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-search"></i> -->
      <angucomplete-alt
        id='x3'
        type='text'
        placeholder="search plants"
        pause="100"
        selected-object="pc.selectedPlant"
        local-data="pc.plantData"
        search-fields="common_name"
        title-field="common_name"
        input-class="form-control form-control-small"
        minlength="1"
        ng-model='pc.selectedPlant.originalObject.common_name' >
      </angucomplete-alt>
    </div>
  </div>
</div>


<!-- Life Form -->
<div class="row">
  <div class="form-group col-xs-12">
    <label for='life_formInput'>Life Form</label>
    <input type='text' class='form-control' id='life_formInput' placeholder='life form' value='{{ pc.selectedPlant.originalObject.life_form }}' ng-model='pc.selectedPlant.originalObject.life_form' name="pc.selectedPlant.originalObject.life_form" ></input>
  </div>
</div>

<!-- Exposure -->
<div class='row'>
  <div class="form-group col-xs-12">
    <label for='exposureInput'>Exposure</label>
    <input type='text' class='form-control' id='exposureInput' placeholder='exposure' value='{{ pc.selectedPlant.originalObject.exposure }}' ng-model='pc.selectedPlant.originalObject.exposure' name="pc.selectedPlant.originalObject.exposure" ></input>
  </div>
</div>

<!-- Height -->
<div class="row">
  <div class="form-group col-xs-12">
    <label for='heightInput'>Height</label>
    <input type='text' class='form-control' id='heightInput' placeholder='height' value='{{ pc.selectedPlant.originalObject.height }}' ng-model='pc.selectedPlant.originalObject.height' name="pc.selectedPlant.originalObject.height" ></input>
  </div>
</div>

<!-- Width -->
<div class="row">
  <div class="form-group col-xs-12">
    <label for='widthInput'>Width</label>
    <input type='text' class='form-control' id='widthInput' placeholder='width' value='{{ pc.selectedPlant.originalObject.width }}' ng-model='pc.selectedPlant.originalObject.width' name="pc.selectedPlant.originalObject.width" ></input>
  </div>
</div>

<!-- Flower Color -->
<div class="row">
  <div class="form-group col-xs-12">
    <label for='flower_colorInput'>Flower Color</label>
    <input type='text' class='form-control' id='flower_colorInput' placeholder='flower color' value='{{ pc.selectedPlant.originalObject.flower_color }}' ng-model='pc.selectedPlant.originalObject.flower_color' name="pc.selectedPlant.originalObject.flower_color" ></input>
  </div>
</div>

<!-- Bloom Time -->
<div class="row">
  <div class="form-group col-xs-12">
    <label for='bloom_timeInput'>Bloom Time</label>
    <input type='text' class='form-control' id='bloom_timeInput' placeholder='bloom time' value='{{ pc.selectedPlant.originalObject.bloom_time }}' ng-model='pc.selectedPlant.originalObject.bloom_time' name="pc.selectedPlant.originalObject.bloom_time" ></input>
  </div>
</div>

<!-- MN Native -->
<div class="row">
  <div class="form-group col-xs-12">
    <label for='mn_nativeInput'>MN Native</label>
    <input type='text' class='form-control' id='mn_nativeInput' placeholder='mn native' value='{{ pc.selectedPlant.originalObject.mn_native }}' ng-model='pc.selectedPlant.originalObject.mn_native' name="pc.selectedPlant.originalObject.mn_native" ></input>
  </div>
</div>

<!-- List -->
<div class="row">
  <div class="form-group col-xs-12">
    <label for='listInput'>List</label>
    <input type='text' class='form-control' id='listInput' placeholder='list' value='{{ pc.selectedPlant.originalObject.list }}' ng-model='pc.selectedPlant.originalObject.list' name="pc.selectedPlant.originalObject.list" ></input>
  </div>
</div>

<!-- Notes -->
<div class="row">
  <div class="form-group col-xs-12">
    <label for='notesInput'>Notes</label>
    <textarea type='text' class='form-control' id='notesInput' placeholder='notes' value='{{ pc.selectedPlant.originalObject.notes }}' ng-model='pc.selectedPlant.originalObject.notes' name="pc.selectedPlant.originalObject.notes" ></textarea>
  </div>
</div>


<div class="row">
  <div class="uploadButton col-xs-4">
    <button type="button" class="btn btn-default" ng-click="pc.upload()">
      upload photo<span class="caret"></span></button>
          <!-- <div style="margin-top:10px;"> -->
          <!-- Show the thumbnail only when the picture is uploaded -->
              <!-- <a href="{{pc.selectedPlant.originalObject.picture.url}}" class="thumbnail"> -->
                <!-- the picture is rendered with width: 500 and sharpened -->
                <!-- <img ng-src="{{pc.selectedPlant.originalObject.picture | fpConvert: {filter:'sharpen'} }}"> -->
              <!-- </a> -->
          <!-- </div> -->
  </div>
</div>


  <div>
      <button type="submit" class="btn btn-primary" ng-click="pc.savePlantSpecs(pc.selectedPlant.originalObject.list)" >
        Save
      </button>
      <button type="button" class="btn btn-default" >
        Cancel
      </button>
  </div>

</form>
</div>
