<!-- auto complete dropdown -->
<div>
  <angucomplete-alt
    class="angucomplete-dropdown angucomplete-searching"
    placeholder="Search plants"
    pause="100"
    selected-object="selectedPlant"
    local-data="pc.plantData"
    search-fields="common_name"
    title-field="common_name"
    input-class="form-control form-control-small"
    minlength="1"></angucomplete-alt>
</div>


<div id="EditableFormCtrl">
  <form editable-form name="editableForm" onaftersave="pc.savePlantSpecs()">
    <div>
      <!-- Common Name -->
      <span class="title">Common Name: </span>
     <span e-placeholder='common name' class='input' editable-text="pc.plant.common_name" e-name="common_name" e-required>
       {{ 'empty' }}</span>
    </div>

    <div>
      <!-- Life Form -->
      <span class="title">Life Form: </span>
      <span editable-select="pc.plant.life_form" e-name="life_form" e-ng-options="l.id as l.text for l in pc.life_form">
        {{ (pc.life_form | filter:{value: plant.life_form})[0].text  || 'not set'}}
      </span>
    </div>

    <div>
      <!-- Exposure -->
      <span class="title">Exposure: </span>
      <span editable-select="pc.plant.exposure" e-name="exposure" e-ng-options="e.id as e.text for e in pc.exposure">
        {{ (pc.exposure | filter:{value: plant.exposure})[0].text  || 'not set'}}
      </span>
    </div>

    <div>
      <!-- Height -->
      <span class="title">Height: </span>
      <span e-placeholder='height' class='input' editable-text="pc.plant.height" e-name="height">
       {{ pc.plant.height || 'empty' }}</span>
    </div>

    <div>
      <!-- Width -->
      <span class="title">Width: </span>
      <span e-placeholder='width' class='input' editable-text="pc.plant.width" e-name="width">
       {{ pc.plant.width || 'empty' }}</span>
    </div>

    <div>
      <!-- Flower Color -->
      <span class="title">Flower Color: </span>
      <span e-placeholder='flower color' class='input' editable-text="pc.plant.flower_color" e-name="flower_color">
       {{ pc.plant.flower_color || 'empty' }}</span>
    </div>

    <div>
      <!-- Bloom Time -->
      <span class="title">Bloom Time: </span>
      <span e-placeholder='bloom time' class='input' editable-text="pc.plant.bloom_time" e-name="bloom_time">
       {{ pc.plant.bloom_time || 'empty' }}</span>
    </div>

    <div>
      <!-- MN Native -->
      <span class="title">MN Native: </span>
      <span editable-select="pc.plant.mn_native" e-name="mn_native" e-ng-options="m.id as m.text for m in pc.mn_native">
        {{ (pc.mn_native | filter:{value: plant.mn_native})[0].text  || 'not set'}}
      </span>
    </div>

    <div>
    <!-- Notes -->
    <span class="title">Notes: </span>
    <span e-placeholder='Notes' class='input' editable-text="pc.plant.notes" e-name="notes">
     {{ pc.plant.mn_notes || 'empty' }}</span>
  </div>

  <div>
    <!-- button to show form -->
    <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
      Edit
    </button>
    <!-- buttons to submit / cancel form -->
    <span ng-show="editableForm.$visible">
      <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
        Save
      </button>
      <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
        Cancel
      </button>
    </span>
  </div>
</form>
</div>
