<!-- auto complete dropdown -->
<div>
  <angucomplete-alt
    class="angucomplete-dropdown angucomplete-searching"
    placeholder="Search plants"
    pause="100"
    selected-object="selectedPlant"
    local-data="tc.plants"
    search-fields="common_name"
    title-field="common_name"
    input-class="form-control form-control-small"
    minlength="1"></angucomplete-alt>
</div>


<div id="EditableFormCtrl">
  <form editable-form name="editableForm" >
    <!-- onaftersave="savePlant()" -->
    <div>
      <!-- Common Name -->
      <span class="title">Common Name: </span>
      <span e-name="common_name" onbeforesave="tc.checkName($data)">{{ tc.user.name }} </span>
    </div>

  <div>
      <!-- Life Form -->
      <span class="title">Life Form: </span>
      <span editable-select="tc.user.lifeForm" e-name="lifeForm" e-ng-options="l.value as l.text for l in tc.lifeForm">
        {{ tc.lifeForm || 'Not set' }}
      </span>
    </div>

    <!-- <div> -->
      <!-- Exposure -->
      <!-- <span class="title">Exposure: </span>
      <span editable-select="user.group" e-name="group" e-ng-options="g.id as g.text for g in groups">

      </span>
    </div>

    <div> -->
      <!-- Height -->
      <!-- <span class="title">Height: </span>
      <span editable-select="user.group" e-name="group" e-ng-options="g.id as g.text for g in groups">

      </span>
    </div>

    <div> -->
      <!-- Width -->
      <!-- <span class="title">Width: </span>
      <span editable-select="user.group" e-name="group" e-ng-options="g.id as g.text for g in groups">
        {{ showGroup() }}
      </span>
    </div>

    <div> -->
      <!-- Flower Color -->
      <!-- <span class="title">Flower Color: </span>
      <span editable-select="user.group" e-name="group" e-ng-options="g.id as g.text for g in groups">
        {{ showGroup() }}
      </span>
    </div>

    <div> -->
      <!-- Bloom Time -->
      <!-- <span class="title">Bloom Time: </span>
      <span editable-select="user.group" e-name="group" e-ng-options="g.id as g.text for g in groups">
        {{ showGroup() }}
      </span>
    </div> -->

    <div class="buttons">
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
  </form>
</div>
