  <a href="#!/plant-specs">add new plant</a>

  <div ng-init='pc.displayPlants()'>
    <!-- plants will display here  -->
  <div id="EditableFormCtrl" ng-if='plant.grouping == 1' ng-repeat='plant in pc.plantsToDisplay'>
    <form editable-form name="editableForm" onaftersave="pc.updatePlantSpecs($index)">
        <div>
        <!-- Common Name -->
          <span e-placeholder='common name' class='input' editable-text="plant.common_name" e-name="common_name" e-required>
            {{ plant.common_name }}</span>
        </div>

       <div>
         <!-- Life Form -->
         <span class="title">Life Form: </span>
         <span editable-select="plant.life_form" e-name="life_form" e-ng-options="l.id as l.text for l in pc.life_form">
           {{ pc.showLifeForm(plant) }}

         </span>
       </div>

      <div>
        <!-- Exposure -->
        <span class="title">Exposure: </span>
        <span editable-select="plant.exposure" e-name="exposure" e-ng-options="e.id as e.text for e in pc.exposure">
          {{ pc.showExposure(plant) }}
        </span>
      </div>

      <div>
        <!-- Height -->
        <span class="title">Height: </span>
        <span e-placeholder='height' class='input' editable-text="plant.height" e-name="height">
         {{ plant.height || 'empty' }}</span>
      </div>

      <div>
        <!-- Width -->
        <span class="title">Width: </span>
        <span e-placeholder='width' class='input' editable-text="plant.width" e-name="width">
         {{ plant.width || 'empty' }}</span>
      </div>

      <div>
        <!-- Flower Color -->
        <span class="title">Flower Color: </span>
        <span e-placeholder='flower color' class='input' editable-text="plant.flower_color" e-name="flower_color">
         {{ plant.flower_color || 'empty' }}</span>
      </div>

      <div>
        <!-- Bloom Time -->
        <span class="title">Bloom Time: </span>
        <span e-placeholder='bloom time' class='input' editable-text="plant.bloom_time" e-name="bloom_time">
         {{ plant.bloom_time || 'empty' }}</span>
      </div>

      <div>
        <!-- MN Native -->
        <span class="title">MN Native: </span>
        <span editable-select="plant.mn_native" e-name="mn_native" e-ng-options="m.id as m.text for m in pc.mn_native">
          {{ pc.showMnNative(plant) }}
        </span>
      </div>

      <div>
        <!-- List -->
        <span class="title">List: </span>
        <span editable-select="pc.plant.grouping" e-name="grouping" e-ng-options="g.id as g.text for g in pc.grouping">
          {{ pc.showGrouping(plant) }}
        </span>
      </div>

      <div>
      <!-- Notes -->
      <span class="title">Notes: </span>
      <span e-placeholder='Notes' class='input' editable-text="pc.plant.notes" e-name="notes">
       {{ pc.plant.notes || 'empty' }}</span>
    </div>

    <div>
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Update
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
  </form>
  </div>
</div>
