plant specs here

<button type="button" ng-click='tc.doThis()'>button</button>
<!-- <div ng-repeat='plant in tc.plants'>
{{ plant.name }}
</div> -->


<!-- <angucomplete-alt id="ex1"
  placeholder="Search plants"
  pause="100"
  selected-object="selectedPlant"
  local-data="plants"
  search-fields="name"
  title-field="name"
  input-class="form-control form-control-small"
  minlength="1"></angucomplete-alt> -->



  <!-- <angucomplete-alt id="ex1"
  placeholder="USA"
  pause="100"
  selected-object="selectedCountry"
  local-data="countries"
  search-fields="name"
  title-field="name"
  input-class="form-control form-control-small"
  input-name="countryReg"
  field-required="true"
  minlength="1"></angucomplete-alt> -->


  <!-- <form name="registrationForm" novalidate="">

   <div>
     <angucomplete-alt id="ex1" placeholder="USA" pause="100" selected-object="selectedCountry" local-data="countries" search-fields="name" title-field="name" input-class="form-control form-control-small" input-name="countryReg" field-required="true" minlength="1"></angucomplete-alt>
     <div ng-messages="registrationForm.countryReg.$error">
       <span class="postFormErrorMessage" ng-message="autocomplete-required">
      please enter your country</span>
     </div>
   </div>
 </form> -->


<!-- <a href="#" editable-text="tc.plant.name" e-uib-typeahead="name for common_name in PLANT_DATA | filter:$viewValue | limitTo:8">
  {{ tc.plant.name || 'empty' }}
</a>

<div ng-controller="TypeaheadCtrl" id="TypeaheadCtrl">
  <a href="#" editable-text="user.state" e-uib-typeahead="state for state in states | filter:$viewValue | limitTo:8">
    {{ user.state || 'empty' }}
  </a>
</div> -->
