<form  editable-form name="editableForm" onaftersave="pc.updatePlantSpecs($index)">
    <div>
    <!-- Common Name -->
      <span e-placeholder='common name' class='input' editable-text="plant.common_name" e-name="common_name" e-required>
        {{ plant.common_name }}</span>
    </div>

   <div>
     <!-- Life Form -->
     <span class="title">Life Form: </span>
     <span e-placeholder='life form' class='input' editable-text="plant.life_form" e-name="life_form">
       {{ plant.life_form }}</span>
   </div>
  <div>
    <!-- Exposure -->
    <span class="title">Exposure: </span>
    <span e-placeholder='exposure' class='input' editable-text="plant.exposure" e-name="exposure">
      {{ plant.exposure }}</span>
  </div>

  <div>
    <!-- Height -->
    <span class="title">Height: </span>
    <span e-placeholder='height' class='input' editable-text="plant.height" e-name="height">
     {{ plant.height || 'empty' }}</span>
  </div>

  <div>
    <!-- Width -->
    <span class="title">Width: </span>
    <span e-placeholder='width' class='input' editable-text="plant.width" e-name="width">
     {{ plant.width || 'empty' }}</span>
  </div>

  <div>
    <!-- Flower Color -->
    <span class="title">Flower Color: </span>
    <span e-placeholder='flower color' class='input' editable-text="plant.flower_color" e-name="flower_color">
     {{ plant.flower_color || 'empty' }}</span>
  </div>

  <div>
    <!-- Bloom Time -->
    <span class="title">Bloom Time: </span>
    <span e-placeholder='bloom time' class='input' editable-text="plant.bloom_time" e-name="bloom_time">
     {{ plant.bloom_time || 'empty' }}</span>
  </div>

  <div>
    <!-- MN Native -->
    <span class="title">MN Native: </span>
    <span e-placeholder='MN native' class='input' editable-text="plant.mn_native" e-name="mn_native">
     {{ pc.showMnNative(plant) }}</span>
  </div>

  <!-- <div> -->
    <!-- List -->
    <!-- <span class="title">List: </span>
    <span e-placeholder='list' class='input' editable-text="plant.grouping" e-name="grouping">
     {{ plant.grouping || 'empty' }}</span>
  </div> -->

  <div>
  <!-- Notes -->
  <span class="title">Notes: </span>
  <span e-placeholder='Notes' class='input' editable-text="plant.notes" e-name="notes">
   {{ plant.notes || 'empty' }}</span>
</div>

<div>
  <!-- button to show form -->
  <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
    Edit
  </button>
  <!-- buttons to submit / cancel form -->
  <span ng-show="editableForm.$visible">
    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
      Update
    </button>
    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
      Cancel
    </button>
  </span>
</div>
</form>
