<!-- <div ng-include src="'views/partials/header.html'"></div> -->

<div class='list-group' ng-init='pc.displayPlants()'>
  <div class='plantPicDisplay' ng-repeat="plant in pc.plantsToDisplay | orderBy: '-_id'" ng-if='plant.list.includes("wish list")'>
    <a ng-href="#!/detail/{{plant._id}}">
      <img ng-src="{{plant.picture.url | fpConvert: {filter:'sharpen', w:420, h:420} }}" />
    </a>
    <h5 class="plantTitleDisplay">{{plant.common_name | lowercase}}</h5>
    <h3 class='plantViewDetails' ><a href="#!/detail/{{plant._id}}">details</a></h3>
  </div>
</div>
